---
import "swiper/css";
import "@styles/styles.scss";
import type { TemplateConfig } from "utils/configType";

const { backgroundGrid, seo, logo, theme } =
  Astro.props as TemplateConfig;
const reCAPTCHASiteKey = "6Lf_DkQrAAAAAL0SpMEwLJ98ag4xqb2t1pv_sIUV";
---

<!doctype html>
<html lang="ja" data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{seo.title}</title>
    <meta name="title" content={seo.title} />
    <meta name="description" content={seo.description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={seo.title} />
    <meta property="twitter:description" content={seo.description} />
    <meta property="twitter:image" content={new URL(logo, Astro.url)} />
    <script defer is:inline async src=`https://www.google.com/recaptcha/api.js?render=${reCAPTCHASiteKey}&hl=ja`></script>
  </head>
  <body>
    {backgroundGrid && <div class="backgroundGrid" />}
    <slot />
  </body>
</html>
